# virtual environment
.venv/
venv/ 

# vscode
.vscode/ 

# Python cache
**/__pycache__/
*.py[cod]

# Test folder
dataset/transactions/

# drawio
*.bkp
$*

# backup files
dashboard/dashboard copy.pbix
dashboard/sales_overview-1 copy.png